{% extends 'layout.html' %}
{% block content %}

<h1>All done.</h1>

<p class="bg-success" >That's all.</p>
<p>You can now copy your model files in the <code>Apps/Sketchfab Uploads</code> folder of your Dropox when you want to update them.</p>

<p class="bg-warning">Be carefull, directly working in this directory while editing your model in your 3D software will result in a lot of Sketchfab uploads. It is recommended to save a copy of your model from time to time, not everytime you want to save your changes.</p>

{% endblock %}
